.display-4 {
    text-align: center;
}

body {
    background-color: whitesmoke;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: .5px; 
    border-color: grey
}

.form {
    width: 100%;
}

.text-box {
    width: 100%;
}

.card {
    width: 100%;
    background-color: lightgrey;

}

.card-header {
    background-color:#3676db;
    color: whitesmoke;
}

.jumbotron {
    background-color: lightgrey;
}